{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <div>
        
        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap" style="width: 20%;">
    </div>
    Voiture de marque {{voiture.marque}}. Prix Journalire : <strong>{{voiture.prixJournalier}} €</strong>
    <div class="mb-3">
        {{voiture.description}}
    </div>

    {% for com in voiture.commentaires %}
       <div> Auteur : <strong> {{com.user.prenom}} </strong></div>
       <div> Date : <strong> {{com.date | date("d/m/Y")}} </strong></div>
       <div> {{com.comment }}</div>
       <hr>
    {% endfor %}

    <div class="my-5">Réserver</div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Réserver') }}</button>
    {{ form_end(form) }}
{% endblock %}
